POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name
POSTGRES_SERVER=server_address
POSTGRES_PORT=server_port
SECRET_KEY=your_jwt_gen_key
ALGORITHM=your_jwt_gen_algorithm
FIRST_SUPERUSER_LOGIN=your_login
FIRST_SUPERUSER_PASSWORD=your_password
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
MAIL_USERNAME=your_mailtrap_username
MAIL_PASSWORD=your_mailtrap_password
MAIL_FROM=noreply@cafebooking.com
MAIL_SERVER=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_STARTTLS=False
MAIL_SSL_TLS=False
MAIL_FROM_NAME=Cafe Booking
